<img src="https://upload.wikimedia.org/wikipedia/de/9/9c/UniversitaetTuebingen_WortBildMarke.png" width="30%" height="30%">

# Expression Bioinformatics WS23/24

Martin Kahabka, Tom Wolf

---

---

<span style="color:orange">To do: write text here</span>

## Practical Assignment 

### Task 1 (4P) Data Frames
TASK 1
Create a Data frame with three columns "Name", "Age", "Score".

Name    |  Age  |  Score|
--------|-------|-------|
Alice   | 25    |  90   |
Bob     | 30    |  85   |
Charlie | 22    |  95   | 
Martha  |  120  |   6   |  
Santa   |  NA   |  20   |  

TASK 2
Print all ages from the data frame.

TASK 3
Insert a new Entry into the data frame.

Name  |  Age   |  Score |
------|--------|--------|
Billy |  54    | 99     |

Remove Alice's row from the data frame.

Task 4
Add a new column Grade to the data frame where each score >= 90 gets a "1.0" every score between 80 and 90 gets a "2.0" and every score below 80 gets a "5.0".
Can you solve this task using the Apply() function?

Task 5
Print the names of the 3 students with the best scores in order from best to 3rd best grade.
Can you also solve this using the "apply" function?

Task 6
Print all information about every student with the grade "5.0".

Task 7
Print all information about every student that has an above average score.

Task 8
Name    |Degree   |
--------|---------|
Bob     |Master   |
Charlie |Bachelor |
Martha  |Master   |
Santa   |Master   |
Billy   |Master   |


Merge the above data frame and the old data frame by names.

Task 9
Print the degrees of every student whose name is at least 5 characters long and also has a score that is divisible by 3.

Task 10 
Print the Name and score about the oldest person

In [10]:
#Task 1
data <- data.frame(
  Name = c("Alice", "Bob", "Charlie", "Martha", "Santa"),
  Age = c(25, 30, 22, 120, NA),
  Score = c(90, 85, 95, 3, 20)
)

#Task 2
print(data$Age)

# Task 3
new_entry <- data.frame(Name = "Billy", Age = 54, Score = 99)
data <- rbind(data, new_entry)
data <- data[data$Name != "Alice", ]

#Task 4
data$Grade <- ifelse(data$Score >= 90, "1.0", ifelse(data$Score >= 80, "2.0", "5.0"))

#Apply:
#data$Grade <- apply(data, 1, function(row) {
#  if (row["Score"] >= 90) return("1.0")
#  else if (row["Score"] >= 80) return("2.0")
#  else return("5.0")
#})

# Task 5
#Can you also solve this using the "apply" function?
top_students <- data[order(data$Score, decreasing = TRUE), ][1:3, "Name"]
print(top_students)

#Apply:
#students_grade_5 <- my_data[apply(my_data$Grade, 1, function(grade) grade == "5.0"), ]
#print(students_grade_5)

#Task 6
students_grade_5 <- data[data$Grade == "5.0", ]
print(students_grade_5)

#Task 7
avg_score <- mean(data$Score, na.rm = TRUE)
above_avg_students <- data[data$Score > avg_score, ]
print(above_avg_students)

#Task 8
degree_data <- data.frame(
  Name = c("Alice", "Bob", "Charlie", "Martha", "Santa", "Billy"),
  Degree = c("Bachelor", "Master", "Bachelor", "Master", "Master", "Master")
)

data <- merge(data, degree_data, by = "Name")

#Task 9
selected_students <- data[nchar(data$Name) >= 5 & data$Score %% 3 == 0, ]
print(selected_students$Degree)

[1]  25  30  22 120  NA

[1] "Billy"   "Charlie" "Bob"
    Name Age Score Grade
4 Martha 120     3   5.0
5  Santa  NA    20   5.0
     Name Age Score Grade
2     Bob  30    85   2.0
3 Charlie  22    95   1.0
6   Billy  54    99   1.0
[1] "Master" "Master"

<span style="color:orange">To do: write text here</span>