<img src="https://upload.wikimedia.org/wikipedia/de/9/9c/UniversitaetTuebingen_WortBildMarke.png" width="30%" height="30%">

# Expression Bioinformatics WS23/24

Martin Kahabka, Tom Wolf

---

---

Solutions:

In [13]:
#Task 1
data <- data.frame(
  Name = c("Alice", "Bob", "Charlie", "Martha", "Santa"),
  Age = c(25, 30, 22, 120, NA),
  Score = c(90, 85, 95, 3, 20)
)

#Task 2
print(data$Age)

#Task 3
new_entry <- data.frame(Name = "Billy", Age = 54, Score = 99)
data <- rbind(data, new_entry)
data <- data[data$Name != "Alice", ]

#Task 4
data$Grade <- ifelse(data$Score >= 90, "1.0", ifelse(data$Score >= 80, "2.0", "5.0"))

#Apply:
#data$Grade <- apply(data, 1, function(row) {
#if (row["Score"] >= 90) return("1.0")
#else if (row["Score"] >= 80) return("2.0")
#else return("5.0")
#})

#Task 5
#Can you also solve this using the "apply" function?
top_students <- data[order(data$Score, decreasing = TRUE), ][1:3, "Name"]
print(top_students)

#Apply:
#students_grade_5 <- my_data[apply(my_data$Grade, 1, function(grade) grade == "5.0"), ]
#print(students_grade_5)

#Task 6
students_grade_5 <- data[data$Grade == "5.0", ]
print(students_grade_5)

#Task 7
avg_score <- mean(data$Score, na.rm = TRUE)
above_avg_students <- data[data$Score > avg_score, ]
print(above_avg_students)

#Task 8
degree_data <- data.frame(
  Name = c("Alice", "Bob", "Charlie", "Martha", "Santa", "Billy"),
  Degree = c("Bachelor", "Master", "Bachelor", "Master", "Master", "Master")
)

data <- merge(data, degree_data, by = "Name")

#Task 9
selected_students <- data[nchar(data$Name) >= 5 & data$Score %% 3 == 0, ]
print(selected_students$Degree)

# Task 10
index <- which(data$Age == max(data$Age, na.rm = TRUE))
data[index, 1]
data[index, 3]
# Task 11

power <- function(x, y) {
    return(x^y)
  }

x <- 2
ranged <- seq(1, 15, 1)

# define helper function to switch variables
sapply(ranged, function(y) power(x, y))

[1]  25  30  22 120  NA
[1] "Billy"   "Charlie" "Bob"

    Name Age Score Grade
4 Martha 120     3   5.0
5  Santa  NA    20   5.0
     Name Age Score Grade
2     Bob  30    85   2.0
3 Charlie  22    95   1.0
6   Billy  54    99   1.0
[1] "Master" "Master"

  Name    Age Score Grade Degree
1 Billy    54 99    1.0   Master
2 Bob      30 85    2.0   Master
3 Charlie  22 95    1.0   Bachelor
4 Martha  120  3    5.0   Master
5 Santa    NA 20    5.0   Master

[1] "Martha"

[1] 3

 [1]     2     4     8    16    32    64   128   256   512  1024  2048  4096
[13]  8192 16384 32768

<span style="color:orange">To do: write text here</span>