<img src="https://upload.wikimedia.org/wikipedia/de/9/9c/UniversitaetTuebingen_WortBildMarke.png" width="30%" height="30%">

# Expression Bioinformatics WS23/24

Martin Kahabka, Tom Wolf

---

---

<span style="color:orange">To do: write text here</span>

## Practical Assignment 

### Task 1 (4P) Data Frames
TASK 1
Create a Data frame with three columns "Name", "Age", "Score".

Name    |  Age  |  Score|
--------|-------|-------|
Alice   | 25    |  90   |
Bob     | 30    |  85   |
Charlie | 22    |  95   | 
Martha  |  120  |   6   |  
Santa   |  NA   |  20   |  

TASK 2
Print all ages from the data frame.

TASK 3
Insert a new Entry into the data frame.

Name  |  Age   |  Score |
------|--------|--------|
Billy |  54    | 99     |

Remove Alice's row from the data frame.

Task 4
Add a new column Grade to the data frame where each score >= 90 gets a "1.0" every score between 80 and 90 gets a "2.0" and every score below 80 gets a "5.0".
Can you solve this task using the Apply() function?

Task 5
Print the names of the 3 students with the best scores in order from best to 3rd best grade.
Can you also solve this using the "apply" function?

Task 6
Print all information about every student with the grade "5.0".

Task 7
Print all information about every student that has an above average score.

Task 8
Name    |Degree   |
--------|---------|
Bob     |Master   |
Charlie |Bachelor |
Martha  |Master   |
Santa   |Master   |
Billy   |Master   |


Merge the above data frame and the old data frame by names.

Task 9
Print the degrees of every student whose name is at least 5 characters long and also has a score that is divisible by 3.

Task 10 
Print the Name and score about the oldest person

Task 11
Given the function and array <br>
Iterate over the function with the apply function, but iterate over the second variable (y) instead of the first (x)

In [1]:
square <- function(x, y) {
    return(x^y)
    }

x <- 2
ranged <- seq(1, 15, 1)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

<span style="color:orange">To do: write text here</span>