**Create data frame**

In [1]:
medical_data <- data.frame(
    Blood_Pressure = c(150, 120, 140, 130),
    Cholesterol_Level = c(10, 20, 40, 30),
    Temperature = c(35, 37, 38, 40),
    Heart_Rate = c(100, 120, 80, 50),
    Oxygen_Saturation = c(1, 1, 3, 4)
)

medical_data

  Blood_Pressure Cholesterol_Level Temperature Heart_Rate Oxygen_Saturation
1 150            10                35          100        1
2 120            20                37          120        1
3 140            40                38           80        3
4 130            30                40           50        4

**Access elements**

In [2]:
medical_data$Blood_Pressure[1]
medical_data[["Blood_Pressure"]][c(1, 2)]


medical_data[c(2, 3), c(1, 2, 3)]

[1] 150

[1] 150 120

  Blood_Pressure Cholesterol_Level Temperature
2 120            20                37
3 140            40                38

**Add/remove column/row**

In [3]:
# same as adding/removing a column/row from a table
# adding/removing columns by vector
# best way
medical_data$age <- c(50, 60, 30, 40)

# use carefully, add lead to several copies of the variable
medical_data <- data.frame(medical_data, avg_sleep = c(5, 7, 8, 8))
medical_data <- cbind(medical_data, diet = c("yes", "no", "no", "temporary"))

medical_data

  Blood_Pressure Cholesterol_Level Temperature Heart_Rate Oxygen_Saturation age
1 150            10                35          100        1                 50
2 120            20                37          120        1                 60
3 140            40                38           80        3                 30
4 130            30                40           50        4                 40
  avg_sleep diet
1 5         yes
2 7         no
3 8         no
4 8         temporary

In [4]:
# removing cells
if ("Oxygen_Saturation" %in% names(medical_data)) {
    medical_data <- subset(medical_data, select = -c(age, Oxygen_Saturation))
}

medical_data

  Blood_Pressure Cholesterol_Level Temperature Heart_Rate avg_sleep diet
1 150            10                35          100        5         yes
2 120            20                37          120        7         no
3 140            40                38           80        8         no
4 130            30                40           50        8         temporary

In [5]:
# adding rows by vector
medical_data <- rbind(medical_data, c(130, 10, 37, 110, 8, "no"))

## adding rows by data frame
new_data <- data.frame(
    Blood_Pressure = c(120, 120),
    Cholesterol_Level = c(30, 50),
    Temperature = c(41, 32),
    Heart_Rate = c(120, 140),
    avg_sleep = c(6, 6),
    diet = c("no", "no")
)
medical_data <- rbind(medical_data, new_data)
medical_data

  Blood_Pressure Cholesterol_Level Temperature Heart_Rate avg_sleep diet
1 150            10                35          100        5         yes
2 120            20                37          120        7         no
3 140            40                38          80         8         no
4 130            30                40          50         8         temporary
5 130            10                37          110        8         no
6 120            30                41          120        6         no
7 120            50                32          140        6         no

In [6]:
medical_data

  Blood_Pressure Cholesterol_Level Temperature Heart_Rate avg_sleep diet
1 150            10                35          100        5         yes
2 120            20                37          120        7         no
3 140            40                38          80         8         no
4 130            30                40          50         8         temporary
5 130            10                37          110        8         no
6 120            30                41          120        6         no
7 120            50                32          140        6         no

In [7]:
# remove rows
new_medical_data <- medical_data[-c(2, 3),]

# or
filtered_medical_data <- medical_data[medical_data$diet != "yes", , drop = FALSE]

medical_data
new_medical_data
filtered_medical_data

  Blood_Pressure Cholesterol_Level Temperature Heart_Rate avg_sleep diet
1 150            10                35          100        5         yes
2 120            20                37          120        7         no
3 140            40                38          80         8         no
4 130            30                40          50         8         temporary
5 130            10                37          110        8         no
6 120            30                41          120        6         no
7 120            50                32          140        6         no

  Blood_Pressure Cholesterol_Level Temperature Heart_Rate avg_sleep diet
1 150            10                35          100        5         yes
4 130            30                40          50         8         temporary
5 130            10                37          110        8         no
6 120            30                41          120        6         no
7 120            50                32          140        6         no

  Blood_Pressure Cholesterol_Level Temperature Heart_Rate avg_sleep diet
2 120            20                37          120        7         no
3 140            40                38          80         8         no
4 130            30                40          50         8         temporary
5 130            10                37          110        8         no
6 120            30                41          120        6         no
7 120            50                32          140        6         no

**Applying conditions to arrays**

In [9]:
x <- c(5, 10, 50, 30, 15)
y <- x < 25

y

[1]  TRUE  TRUE FALSE FALSE  TRUE

**Apply, Sapply, Lapply, Conditions**

In [39]:
# convert the diet to numbers with factor with apply
# "yes" -> 1, "temporary" -> 2, "no" -> 3
factor <- 3

convert_diet <- function(patient, factor) {
    diet <- patient[["diet"]]
    # check cases
    if(diet == "yes") {
        new_val <- 1
    } else if (diet == "temporary") {
        new_val <- 2
    } else {
        new_val <- 3
    }
    # add new value
    patient[["diet"]] <- new_val * factor
    return(patient)
}

# apply returns a matrix with row names
# t transposes the matrix, now has same format as before
# as.data.frame converts from matrix to data frame
converted_medical_data <- as.data.frame(t(apply(medical_data, MARGIN = 1, FUN = convert_diet, factor)))

converted_medical_data

  Blood_Pressure Cholesterol_Level Temperature Heart_Rate avg_sleep diet
1 150            10                35          100        5         3
2 120            20                37          120        7         9
3 140            40                38          80         8         9
4 130            30                40          50         8         6
5 130            10                37          110        8         9
6 120            30                41          120        6         9
7 120            50                32          140        6         9